/* MOBILE */
@media screen and (min-width: 1px) and (max-width: 576px) {
    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
                "alert"
                "h1"
                "nav"
                "header-img"
                "main"
                "sub-section"
                "footer";
        width: 1vw;
    }

    .alert-info {
        grid-area: alert;
        text-align: center;
        background: #CCFFFF;
        border: solid 2px lightgrey;
        padding: 1em;
        margin: .5em;
    }

    .alert-info>a {
        text-decoration: none;
        color: black;
    }

    h1 {
        grid-area: h1;
        font-size: 3em;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    nav {
        grid-area: nav;
        display: flex;
        justify-content: center;
        /*align-content: stretch;*/
    }

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        padding: 0;
    }

    li {
        padding: 1em;
        background: lightgrey;
        margin: .5em;
        font-weight: bold;
    }

    .header-img {
        grid-area: header-img;
        margin: .5em;
        padding: 0;
        /*grid: flex;*/
        /*text-align: center;*/
    }

    img {
        height: 224px;
        width: 339px;
        text-align: center;
    }

    .main {
        grid-area: main;
        padding: 0;
        margin: .5em;
    }

    .sub-section {
        grid-area: sub-section;
        font-style: italic;
        padding: 0;
        margin: .5em;
    }

    footer {
        grid-area: footer;
        margin-top: 5em;
    }
}
@media screen and (min-width:577px ) {
    *{
        box-sizing: border-box;
    }
    body{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(5, 0.3fr);
        width: 100vw;
        height: 100%;

    }
    h1{
        grid-area: 1 / 1 / 2 / 3;
        font-size: 60px;
        margin-left: 0.5em;
        margin-top: 1em;


    }
    nav{
        grid-area: 1 / 5 / 2 / 7;

    }
    ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;

    }
    li{
        padding: 1em;
        font-size: 20px;
    }
    .nav-links{
        display: flex;
        padding: 3em;
    }
    .alert-info{
        visibility: hidden;
    }
    .header-img{
        grid-area: 2 / 1 / 3 / 7;

    }
    img{
        width: 100%;
         /*height: 385px;*/
    }
    .main{
        grid-area: 3 / 1 / 4 / 4;
        font-size: 20px;

    }
    .sub-section{
        grid-area: 3 / 5 / 4 / 7;
        font-style: italic;
        font-size: 20px;
    }
    footer{
        grid-area: 6 / 1 / 7 / 3;
    }

}

